<style>

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

  .logo {
  height: 250px; /* altura do cabeçalho */
  background-image: url('logo.png'); /* caminho da imagem */
  background-size: contain; /* faz a imagem cobrir todo espaço */
  background-repeat: no-repeat; /* faz a imagem não repetir */
  background-position: center; /* centraliza a imagem */
  }

  .titulo{
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  font-size: 30px; /*tamanho do texto*/
  color: #c7c5c5; /* cor do texto */
  text-shadow: 1px 1px 1px #7e7d7a;
  font-family: Arial, sans-serif;
  }

form {
  background: #7e7d7a;
  margin: 20px auto;  /* centraliza horizontalmente */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 9px #5f5f61;
  max-width: 600px;
  width: 90%;  /* ocupa 90% da tela em dispositivos pequenos */
}
  label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: rgb(0, 0, 0)
  }

  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 2px solid #0000007f; /*conttorno campos*/
    font-size: 14px;
    box-sizing: border-box;
  }

  input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #7e7d7a;
    box-shadow: 0 4px 9px #5f5f61;
  }

  button {
    margin: 20px auto 0 auto;
    display: block;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    background: #16782a;
    transition: background 0.3s, transform 0.2s;
  }

  button:hover {
    background: #10591f;
    transform: scale(1.05);
  }

  button:nth-of-type(2) {
    background: #6c6c6c;
  }

  button:nth-of-type(2):hover {
    background: #c0392b;
  }

  h2 {
    color: #d0d0d0;
    margin: 10px 0;
    text-align: center;
  }

  textarea {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
 /*Tela de menu*/
 
 .menu ul {
  list-style: none;       /* remove os bullets */
  padding: 0;             /* remove espaçamento interno */
  display: flex;          /* coloca os links em linha */
  gap: 20px;              /* espaço entre os links */
  justify-content: center; /* centraliza horizontalmente */
  margin-top: 20px;
}

.menu li a {
  text-decoration: none;  /* remove o sublinhado */
  padding: 10px 20px;     /* deixa os links mais “clicáveis” */
  color: white;            /* cor do texto */
  background-color: #8a673a; /* fundo dos links */
  border-radius: 8px;     /* cantos arredondados */
  transition: all 0.3s ease; /* efeito suave para hover */
}

.menu li a:hover {
  background-color: #6d522e; /* muda a cor ao passar o mouse */
  transform: scale(1.05);   /* aumenta um pouco ao passar o mouse */
}
</style>